<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Filmviewer - 404</title>

    <link href="/Content/Menu/style.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper">
        <div class="error-wrapper">
            <div class="error">
                <img alt="" src="~/Content/images/Errors/error.png" class="error__image">
                <h1 class="error__text">sorry, but page can’t be found</h1>
                <a href="/" class="btn btn-md btn--warning">return to homepage</a>
            </div>
        </div>

        <div class="copy-bottom">
            <p class="copy">&copy; FilmViewer copy by Damian Kleczko</p>
        </div>

    </div>

</body>
</html>
