
<div>
    <div class="error-wrapper">
        <div class="error">
            <h1 class="error__text">Sorry but we can't do this action. Something wrong happened</h1>
            <a href="/" class="btn btn-md btn--warning">return to homepage</a>
        </div>
    </div>

</div>

