<div class="search-wrapper">
    <div class="container--add">
        @using (Html.BeginForm("ViewActors", "Moderator", FormMethod.Get, htmlAttributes: new { @class = "search" }))
        {
            <input type="text" name="searchString" class="search__field" placeholder="Search actor" value="@ViewBag.ActorsFilter">
            <button type="submit" class="btn btn-md btn--danger search__button">Search</button>
        }
    </div>
</div>


