<li class="menu__nav-item">@Html.ActionLink("Best movies", "RatingList", "Movie", null, new { @class = "category__item" })</li>
<li class="menu__nav-item">@Html.ActionLink("Best actors", "RatingList", "Actor", null, new { @class = "category__item" })</li>
<li class="menu__nav-item">@Html.ActionLink("Best directors", "RatingList", "Director", null, new { @class = "category__item" })</li>
